text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
        }
         #chart1, svg {
            margin: 0px;
            padding: 5px;
            height: 100%;
            width: 100%;
        }